<div class="container-fluid">
  <div class="row title">
    <h1>MyReads</h1>
  </div>
  <div class="row subtitle">
    <h2>Currently Reading</h2>
  </div>
  <div class="row">
    <div *ngFor="let libro of listaDeLibros" class="col-6 items">
      <div *ngIf="libro.shelf == 'currentlyReading'">
        <p>{{ libro.title }}</p>
        <img src="{{ libro.imageLinks.smallThumbnail }}" alt="asd" />
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="libro.shelf == 'currentlyReading'">
          <h1>{{ libro.title }}</h1>
        </div> -->